!!! 5
%html
  %head
    %title= "Seacon ESB Demo"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900', rel: 'stylesheet', type:'text/css'}

    = csrf_meta_tags
  %body
    #properties{:title => "Properties"}
    %header
      #titlebar
        %h1
          Seacon ESB Demo
      #toolbar= link_to "Save" , "#"
    #editor
      #shadow
      #components
        #tabs
          %ul.tabs
            %li= link_to "Routes", "#routes"
            %li= link_to "Library", "#library"
          #routes
            %h2 Available routes
            %ul
              %li.active Route 1
              %li Route 2
              %li Route 3
              %li Route 4
          #library
            Libary
              
          
      #grid

