!!! 5
%html
  %head
    %title= "Seacon ESB Demo"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      #titlebar
        %h1
          Flow designer
        .route_name
          Route 1
      #toolbar
        .save= link_to "Save" , "#"
        %ul.tabs
          %li.route= link_to "Route", "#route", :class => "current"
          %li.error= link_to "Error route", "#error"
    #properties{:title => "Properties"}
    #editor
      #shadow
      #components
        #tabs
          %ul.tabs
            %li= link_to "Routes", "#routes"
            %li= link_to "Library", "#library"
          #routes
            %h2 Available routes
            %ul
              %li.active.first Route 1
              %li Route 2
              %li Route 3
              %li Route 4
          #library
            %ul 
      #shadow_h
      #grid
        #route
        #error
          .node.message.error_default
            .image
            .label Message
